nav{
    width: 100% !important;
    height: 90px;
    display: flex;
    padding: 24px;
    background-color: #34495E;
    justify-content: flex-end;
}
ul{
    display: flex;
    gap: 40px;
    list-style: none;
    width: 100%;
    justify-content: end;
    /* margin: auto; */
    /* padding: 0; */
}
li{
    padding: 8px;
}
li:hover{
    border-radius: 8px;
    border: solid 1px #E9F4FF;
}
a{
    text-decoration: none;
    color: #FFF;
}
.numCart{
    margin-left: 5px;
}